<div class="parallax">
<div class="parallaxImg parallaxImg-header"></div>
<div class="front-clouds"></div>
</div>
<div class="section-header" style="position:relative;display:table;table-layout:fixed;height:100%;width:100%" id=header>
<div class="crp-showcase" style="width:100%;vertical-align:middle;display:table-cell;height:300px;padding:0;border:0">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h1 class="sourehan text-center animated fadeInDown">预约互联网坐班兼职工程师</h1>
<h3 class="text-center animated fadeInDown">
预约知名互联网公司的产品、美工、前端、后端等技术人员到您的团队坐班兼职。 </h3>
<div class="text-center actions animated fadeInDown delay2" id=dashboard>
</div>
</div>
</div>
</div> </div>
</div>




<div class="jumbotron">
    <h1 class="title">高薪职位 触手可及</h1>
    <p class="slogan">24K Offer 是一个提供24K薪水工作机会的求职网站。
    <br>
    我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
    <br>
     凭借自己的努力和天份也会变 Winner
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>

</div>


<div class="section-block">
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyp13x8hdj303k03k0o3.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>广州珠江新城</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyp4udux5j303k03kdfl.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@24koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbyp7ovm0zj303k03kjr5.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>020-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyp13x8hdj303k03k0o3.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>广州珠江新城</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyp4udux5j303k03kdfl.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@24koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbyp7ovm0zj303k03kjr5.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>020-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyp13x8hdj303k03k0o3.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>广州珠江新城</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fbyp4udux5j303k03kdfl.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@24koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fbyp7ovm0zj303k03kjr5.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>020-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
