/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .custab{
   border: 1px solid #ccc;
   padding: 5px;
   margin: 5% 0;
   box-shadow: 3px 3px 2px #ccc;
   transition: 0.5s;
 }

 .custab:hover{
   box-shadow: 3px 3px 0px transparent;
   transition: 0.5s;
 }

 .jumbotron {
   background-image:url('https://ww4.sinaimg.cn/large/006tNc79gy1fbzqgamkkaj31kw11ze83.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   padding-bottom: 110px;
   color: #ffffff;//字体颜色
 }

 .title {  //jumbotron 的title
   background-color: rgba(0, 0, 0, 0.39);//背景颜色含透明度
   font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
   text-align: center;
   padding: 20px 20px 0px;
   margin-top: 150px;//和顶部拉开距离
   margin-bottom: 0;//这样就可以紧接息面的描述文字
   border-top-right-radius: 3px;//右上角圆边
   border-top-left-radius: 3px;//左上角圆边

 }



 //.slogan {
   //background-color: rgba(0, 0, 0, 0.39);//背景颜色含透明度
  //margin-top: 0px;
   //margin-bottom: 0px;
   //padding: 15px 20px 30px 20px;//上50px，左右20px，下0
   //text-align: center;
   //color: white;
   //top: 12px;
 //}

 //.lead {
  // background-color: rgba(0, 0, 0, 0.39);//背景颜色含透明度
  // padding: 20px;//上50px，左右20px，下0
  // margin-top: 0px;
   //margin-bottom: 60px;
   //border-bottom-right-radius: 3px;//右下角圆边
   //border-bottom-left-radius: 3px;//左下角圆边
   //text-align: center;
  // color: white;
 //}

 .jumbotron h1, .jumbotron .h1 {
    text-align: center;//文字左对齐
    color: #ffffff;	//字体颜色
    padding: 40px 20px 30px;//上50px，左右20px，下0
}

.jumbotron p {
    margin: 0px;//上下左右margin为0
    font-size: 22px;//字体大小

    background-color: rgba(0, 0, 0, 0.39);//背景颜色含透明度
    padding: 0px 20px 50px;//上下左右padding为20px
    text-align: center;//文字左对齐
    color: #ffffff;//字体颜色
    border-bottom-right-radius: 3px;//右下角圆边
    border-bottom-left-radius: 3px;//左下角圆边
}

 .caption {
  margin: 30px;
  text-align: center;
  top: 20px;
  //color: #142c38;(想改首页下方图标下面文字的颜色，改成绿色（#142c38)，但暂时未找到在哪里改)
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;
}



.navbar-default {
    background-color: #ffffff;//导航栏背景颜色
    border-color: #ffffff;//导航栏边框色
    margin-bottom: 0;//底部 margin 不撑开距离

}


@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0 （去掉导航栏圆角）
        min-height:30px;
    }
}


.navbar-default .navbar-brand {
   color: #d9534f;//navbar标题的字体颜色
   padding: 10px 25px;//上下10px,左右25px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FF6F00;//鼠标放置在导航栏链接上的文字颜色
  background-color: transparent;//鼠标放置在导航栏链接上的背景颜色，这里设为透明
}

//.navbar-default .navbar-search{
//  padding: 10px 0px 0px;
//  margin: 0px;
//}



.navbar-default .navbar-nav > li > a{
  color: #d9534f;//“注册”、“登入”链接的字体颜色
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FF6F00;//鼠标放置在“注册”“登入”链接上的颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FF6F00;
  background-color: #FFE0B2;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;
    color: #212121;
}

.container-fluid .jumbotron{//让首页大图满屏显示
  padding-bottom: 250px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
}
